/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Style for the sorted column header */
/* Table styling */
/* Table styling */
/* Table styling */


.indicator-link {
    text-decoration: none; /* Remove underline */
    color: blue; /* Inherit color from parent or set your own */
    display: inline-block; /* Make sure it behaves as an inline-block element */
  }
 
  table {
    border-collapse: collapse; /* Remove gaps between borders */
    width: 100%; /* Adjust width as needed */
    max-width: 1200px; /* Optional: Set a max-width for large screens */
    
  }
  .sort-indicator{
    a::visited{
        background-color: yellow;
    }
  }